
<form data-cart_variant_option="container">
  <div class="form-group">
    <label for="exampleFormControlSelect2">Количество</label>
    <select data-cart_variant_option-click="click" data-cart_variant_option-select="select" multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</form>  
