
	 	 <!-- <script src="/static/js/htmlix.js"></script> -->
		 	<script src="/static/js/htmlix/htmlix-state.js"></script>
	<script src="/static/js/htmlix/htmlix-array.js"></script>
	<script src="/static/js/htmlix/htmlix-container.js"></script>
	<script src="/static/js/htmlix/htmlix-emiter-and-router.js"></script>
	<script src="/static/js/htmlix/htmlix-prop-common.js"></script>
	<script src="/static/js/htmlix/htmlix-PropStandartEvent-and-PropEventEmiter.js"></script>
	<script src="/static/js/htmlix/htmlix-PropGroup.js"></script>
	<script src="/static/js/htmlix/htmlix-PropVariant.js"></script>
	<script src="/static/js/front.js"></script>
</body>
 </html>